fashionable ~= 0.12.3
pytest-cov >= 2.12, < 2.13; python_version < '3.6'
pytest-cov >= 3.0, < 3.1; python_version >= '3.6'
pytest-runner ~= 5.2; python_version < '3.6'
pytest-runner ~= 5.3.1; python_version >= '3.6'
pytest-sanic ~= 1.1.2; python_version < '3.6'
pytest-sanic ~= 1.7.0; python_version == '3.6'
pytest-sanic ~= 1.9.1; python_version >= '3.7'
pytest ~= 6.1.2; python_version < '3.6'
pytest ~= 6.2.4; python_version >= '3.6'
sanic ~= 19.3.1; python_version < '3.6'
sanic ~= 20.12.3; python_version == '3.6'
sanic ~= 21.9.3; python_version >= '3.7'
ujson ~= 3.2.0; python_version < '3.6'
ujson ~= 4.3.0; python_version >= '3.6'
websockets ~= 6.0; python_version < '3.6'
websockets ~= 8.1; python_version == '3.6'
websockets ~= 10.1; python_version >= '3.7'
